name: Android Build

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10.13"

    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install -y \
          git zip unzip openjdk-17-jdk \
          python3-pip \
          libffi-dev libssl-dev \
          libncurses5

    - name: Install Buildozer
      run: |
        pip install --upgrade pip
        pip install buildozer cython==0.29.36

    - name: Clean cache
      run: |
        rm -rf ~/.buildozer
        rm -rf .buildozer

    - name: Build AAB
      run: |
        buildozer -v android release aab

    - name: Upload AAB
      uses: actions/upload-artifact@v4
      with:
        name: android-aab
        path: bin/*.aab
