name: Build Android AAB

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Setup Java 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"

      - name: Install system dependencies
        run: |
          sudo apt update
          sudo apt install -y \
            zip unzip \
            libstdc++6 \
            libffi-dev \
            libssl-dev \
            build-essential \
            openjdk-17-jdk

      - name: Install Buildozer
        run: |
          pip install --upgrade pip
          pip install buildozer cython

      - name: Install Android SDK Build Tools (AIDL fix)
        run: |
          yes | sdkmanager --licenses
          sdkmanager "build-tools;34.0.0" "platforms;android-34"

      - name: Clean Buildozer cache
        run: |
          rm -rf ~/.buildozer/android
          rm -rf ~/.android

      - name: Build Android AAB
        run: |
          buildozer -v android release aab

      - name: Upload AAB
        uses: actions/upload-artifact@v4
        with:
          name: CatchAnAlien-AAB
          path: bin/*.aab
