name: Build Android AAB

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install system dependencies
        run: |
          sudo apt update
          sudo apt install -y \
            openjdk-17-jdk \
            unzip \
            wget \
            libncurses6 \
            libncurses-dev \
            autoconf \
            automake \
            libtool \
            pkg-config

      - name: Install Buildozer
        run: |
          pip install --upgrade pip
          pip install buildozer cython

      - name: Install Android SDK & NDK
        run: |
          yes | buildozer android update
          sdkmanager "ndk;25.2.9519653"

      - name: Build Android App Bundle
        run: |
          buildozer android release aab

      - name: Upload AAB
        uses: actions/upload-artifact@v4
        with:
          name: CatchAlien-AAB
          path: bin/*.aab
